@model PersonalTouchMVC.Models.CardTemplate

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CardTemplate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CardId" class="control-label"></label>
                <input asp-for="CardId" class="form-control" />
                <span asp-validation-for="CardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardName" class="control-label"></label>
                <input asp-for="CardName" class="form-control" />
                <span asp-validation-for="CardName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimesTemplateSelected" class="control-label"></label>
                <input asp-for="TimesTemplateSelected" class="form-control" />
                <span asp-validation-for="TimesTemplateSelected" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardCategory" class="control-label"></label>
                <input asp-for="CardCategory" class="form-control" />
                <span asp-validation-for="CardCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
