@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center" style="background-color:firebrick">
        <h1 class="display-4">Welcome</h1>
        
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/Pictures/ReceivingCard.jpg" class="card-img" alt="Picture">
                    <img src="~/Pictures/Grandma.jpg" class="card-img" alt="Picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Never Forget To Send A Card Again</h5>
                        <p class="card-text">
                            Do you have many brothers, sisters, cousins, nieces, nephews, in-laws, and friends that you find it
                            impossible to remember their special events? Personal Touch will allow you to input all anniversaries/birthdays/
                            communions/chosen holidays and ensure that you never miss a special event again.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <img src="~/Pictures/girlmailbox.jpg" alt="..." class="img-thumbnail">
        <img src="~/Pictures/boymailbox.jpg" alt="..." class="img-thumbnail">
        <img src="~/Pictures/Christmas.jpg" alt="..." class="img-thumbnail">

    </div>
